
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      text-align: left;
      font-weight: bold;
    }

    .Login form a {
      margin-bottom: 15px;
      display: block;
      font-size: 14px;
      text-align: left;
      font-weight:lighter;
    }
  