
    .ResetPassword {
      padding: 60px 0;
    }
  
    .ResetPassword form {
      margin: 0 auto;
      max-width: 320px;
      font-weight: bold;
      text-align: left;
    }
  
    .ResetPassword .success {
      max-width: 400px;
      text-align: left;
    }
  
   
  .ResetPassword .success {
    margin: 0 auto;
    text-align: left;
  }
  .ResetPassword .success .glyphicon {
    color: grey;
    font-size: 30px;
    margin-bottom: 30px;
  }